body {
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.main-page {
  grid-column: 2/7;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 35px 25px 25px 25px;
  height: 100vh;
  background-color: rgb(39, 94, 94);
}
.nav-buttons,
.other-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.button-container {
  margin-left: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.fa-solid {
  height: 16px;
  width: 16px;
}
.logo {
  font-size: 36px;
  display: flex;
  gap: 1rem;
}

.main-page {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.header {
  padding: 0px 25px 25px 25px;
}
.first-header {
  display: flex;
  gap: 10%;
  font-size: 24px;
  margin-bottom: 25px;
}

.button-container > div {
  font-size: 24px;
}

.account {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.account > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  flex: 3;
  display: flex;
  gap: 2rem;
  align-items: center;
}
input {
  flex: 1;
  border: 1px solid;
  border-radius: 10px;
  padding-left: 10px;
  height: 25px;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.pfp {
  height: 50px;
}
.user,
.greeting,
.name {
  font-weight: bold;
}
.main-pfp {
  height: 70px;
}
.second-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name {
  font-size: 24px;
  margin-top: 5px;
}

.header-buttons > button {
  border: 0;
  font-size: 20px;
  background-color: aqua;
  border-radius: 20px;
  height: 35px;
  width: 120px;
}
.header-buttons {
  margin-left: auto;
  margin-right: 100px;
  display: flex;
  gap: 2rem;
}
